h1 {
  text-align: center
}

#recipes, #keywords {
  padding: 5px;
  border-style: solid;
  border-color: #000000;
  margin-bottom: 10px;
}

#index {
  margin-right: 10px;
  float: right;
}

img {
  max-width: 100%;
}

@media only screen and (min-width: 768px){
  #recipes, #rhs{
    float: right;
    width: 48%;
    display: inline-block;
  }
  #recipes {
    float: left;
  }
}
